.flex
{
    display: flex;
    gap:1vw;
}
.ki
{
    display: flex;
    gap:1vw;
}
body{
    display: flex;
}
#myDropdown{
    width: 20.6rem;
    height: 2.5rem;
    border: solid white ;
    margin-bottom: 1.5rem;
}
.hemlo{
    display: flex;
    flex-direction: column;
    margin: auto;
}
label{
    font-size: 1.2rem;
    font-family: sans-serif;
}
input{
    width: 20rem;
    height: 2rem;
    margin-bottom: 1.5rem;
    border: solid white ;
}
form input{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    border-radius:0 ;
    border: solid white ;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}
.submitButton 
{
    display: none;
    background-color: #141414;
    color: white;
    margin:auto;
    margin-top: 2rem;
    padding: 1rem 6rem 1rem 6rem;
}

.green-thing{
    background-color: hsl(79, 100%, 71%);
    display: flex;
    padding: 2rem;
    width: 25rem;
    flex-direction: column;
}
.hello{
    width:10rem ;
}
option{
    font-size: 1rem;
    width: auto;
    height: 3rem;
}
.del{
    height: 2.2rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: solid transparent;
    cursor: pointer;
}
.del:hover{
    color: gray;
}
.addMember{
width: fit-content;
margin: auto;
background-color: transparent;
border: transparent;
font-size: 2rem;
border-radius: 100%;
cursor: pointer;
}
.addMember:hover{
    color: gray;
}
.lines{
    height: 0.2rem;
    width: 15rem;
    margin: auto;
    display: flex;
    flex-basis: 1;
    flex-grow: 1;
    gap: 0.4rem;
}
.line1{
    background-color: #141414;
    height: 0.2rem;
    width: 5rem;
}
.line2{
    background-color: #141414;
    width: 5rem;
}
.line3{
    background-color: #ABABAb;
    width: 5rem;
}
